/* You can add global styles to this file, and also import other style files */
body {
    font-family: "Helvetica Neue", sans-serif; 
    background-image: radial-gradient(rgb(189, 180, 180), rgb(69, 100, 104));
    background-repeat: repeat;
    height: 100vh;
    margin: 0;
  }
  
  /* Loading */
  .loading{
    position: relative;   
    top: 50%;
    left: calc(50% - 50px);
  }
  
  .contaierLoading{
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    opacity: 0.5;
  }
  
  /* ------------ View: Employees List ------------ */
  /* navbar */
  .sitiVisit {
    font-weight: bold;
    font-size: 11px;
    color: #fff;
  }
  
  .siteMaggot {
    text-decoration: none;
    font-weight: bold;
    font-size: 11px;
    color: rgb(151, 188, 199);
  }
  
  /* Titulo de la vista principal */
  .titleList {
    font-family: 'Nova Flat', sans-serif;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    color: rgb(42, 44, 46);
  }
  
  /* Contenedor de image */
  .figureImgList {
    text-align: center;
  }
  
  /* Imagen dentro del contenedor */
  .figureImgList img {
    width: 130px;
    margin-top: 10px;
  }
  
  /* Contenedor de la tabla */
  .containerGeneralList {
    background-color: #fff;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
  }
  
  /* Transacciones */
  .transactionAction {
    font-size: 20px;
    cursor: pointer;
  }
  
  .transactionAction:hover {
    color: rgb(69, 100, 104);
  }
  
  /* Textos al pasar el mouse */
  .tooltip-edit, .tooltip-view, .tooltip-delete {
    margin-top: 5px !important;
    font-size: 10px;
  }
  
  .tooltip-edit {
    background-color: rgba(64, 138, 50, 0.9);
  }
  
  .tooltip-view {
    background-color: rgba(45, 125, 216, 0.9);
  }
  
  .tooltip-delete {
    background-color: rgba(202, 48, 55, 0.9);
  }
  
  /* Botón de agregar Usuario */
  .addUser {
    margin-left: 5%;
    padding-bottom: 5%;
  }
  
  .btnAddUser {
    height: 25px;
    background-color: rgb(20, 141, 60);
    font-size: 10px;
    border-radius: 5px;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    cursor: pointer;
  }
  
  .addUserText {
    margin: 10px;
  }
  
  /* Flex del contenedor del search */
  .search {
    display: flex;
    align-items: center;
    gap: 0 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-top: 5%;
  }
  
  /* Título del buscador */
  .searchTitle {
    font-size: 10px;
    font-weight: bold;
  }
  
  /* boostrap input search */
  .input-group-text, .form-control {
    height: 20px;
    font-size: 10px;
  }
  
  /* Table */
  table {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    text-align: center !important;
  }
  
  /* Cuerpo de la tabla */
  td {
    overflow: hidden;
    width: 20%;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 !important;
    text-align: center !important;
    font-size: 10px !important;
    border: 1px solid gray !important;
  }
  
  .hiringWith {
    width: 22%;
  }
  
  .ageWith {
    width: 17%;
  }
  
  /* Cabecera de la tabla */
  th {
    padding: 0 !important;
    margin: 0 !important;
    background-color: rgb(190, 208, 211) !important;
    border: 1px solid gray !important;
  }
  
  /* Centrar la cabecera de la tabla */
  .mat-sort-header-container {
    justify-content: center !important;
    font-size: 10px !important;
    font-weight: bold !important;
    display: flex;
    flex-direction: column;
    row-gap: 3px;
  }
  
  /* Sin el sort en trasacciones */
  .replace-sort {
    text-align: center !important;
    font-size: 10px !important;
    font-weight: bold !important;
    padding-bottom: 18px !important;
  }
  
  /* ---------------- Paginador ------------------- */
  .paginator {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* paginador flechas */
  .mat-button-wrapper > * { 
    width: 20px !important;
  }
  
  /* paginador items */
  .mat-paginator-range-label { 
    font-size: 12px;
  }
  
  /* Espaciado entre flechas y texto */
  .mat-paginator-page-size {
    margin-top: -25px;
  }
  
  /* Texto de Items por página */
  .mat-paginator-page-size-label {
    font-size: 12px;
  }
  
  /* Número en el select del paginador */
  .ng-tns-c8-4 ng-star-inserted {
    font-size: 12px;
  }
  /* ---------------- Paginador ------------------- */
  /* ------------ View: Employees List ------------ */
  
  /* ------------ View: Employee, Create and Update ------------ */
  /* Contenedor del formulario reactivo */
  .containerFormReactive {
    background-color: aliceblue;
    width: 90%;
    border-radius: 5px;
    margin: 5% auto;
  }
  
  /* Título del componente reutilizable */
  .titleEmployee {
    font-family: 'Nova Flat', sans-serif;
    text-align: center;
    font-size: 17px;
    padding-top: 10px;
  }
  
  /* Formulario */
  .formReactive {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5%;
  }
  
  /* Items del formulario, formControlName */
  .containerFormReactiveItem {
    width: 100%;
    font-size: 15px;
  }
  
  .radioGroupText {
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
  }
  
  .radioGroup {
    display: flex;
    justify-content: space-between;
  }
  
  /* Depende si la variable está en true */
  .opacity {
    opacity: 0.4;
  }
  
  /* Espacio top con el área */
  .marginTop {
    margin-top: 2%;
  }
  
  /* Botones */
  .btnsOpctions {
    margin-top: 2%;
  }
  
  .btnOptionReturn, .btnOptionSave {
    height: 25px;
    font-size: 10px;
    border-radius: 5px;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    cursor: pointer;
  }
  
  .btnOptionReturn {
    background-color: rgb(33, 127, 189);
  }
  
  .btnOptionSave {
    background-color: rgb(20, 141, 60);
  }
  
  .addOptionText {
    margin: 10px;
  }
  
  .btnsOpctionReturn {
    display: inline;
  }
  
  .btnsOpctionSave {
    display: inline;
    margin-left: 10px;
  }
  /* ------------ View: Employee, Create and Update ------------ */
  
  /* *************************** Para Tablets y PC *************************** */
  @media screen and (min-width: 768px) {
    /* ------------ View: Employees List ------------ */
    /* navbar */
    .siteMaggot {
      font-size: 17px;
    }
    
    .sitiVisit {
      font-size: 17px;
    }
    
    /* Titulo de la vista principal */
    .titleList {
    font-size: 35px;
    }
    
    /* Imagen dentro del contenedor */
    .figureImgList img {
    width: 180px;
    }
    
    /* Search */
    .search {
    padding-top: 2%;
    }
    
    /* Título del buscador */
    .searchTitle {
    font-size: 16px;
    font-weight: bold;
    }
    
    /* Cuerpo de la tabla */
    td {
      font-size: 14px !important;
    }
    
    /* Centrar la cabecera de la tabla */
    .mat-sort-header-container {
      flex-direction: row;
      padding-left: 20px !important;
      font-size: 16px !important;
    }
    
    /* Sin el sort en trasacciones */
    .replace-sort {
      font-size: 16px !important;
      padding-bottom: 0 !important;
    }
  
    /* Transacciones */
    .transactionAction {
      font-size: 25px;
    }
  
    /* Repartir transacciones con un flex */
    .transactionsFlex {
      display: flex;
      justify-content: center;
      gap: 0 15px;
    }
    
    /* boostrap input search */
    .input-group-text, .form-control {
      height: 28px;
      font-size: 16px;
    }
  
    /* ---------------- Paginador ------------------- */
    /* paginador flechas */
    .mat-button-wrapper > * { 
      width: 25px !important;
    }
    
    /* paginador items */
    .mat-paginator-range-label { 
      font-size: 14px;
    }
    
    /* Espaciado entre flechas y texto */
    .mat-paginator-page-size {
      margin-top: 0;
    }
    /* ---------------- Paginador ------------------- */
    
    /* Botón de agregar Usuario */
    .addUser {
      margin-left: 2%;
      padding-bottom: 2%;
    }
    
    .btnAddUser {
      height: 35px;
      font-size: 17px;
    }
    /* ------------ View: Employees List ------------ */
  
    /* ------------ View: Employee, Create and Update ------------ */
    /* Título del componente reutilizable */
    .titleEmployee {
      font-size: 24px;
      padding-top: 2%;
    }
  
    /* Formulario */
    .formReactive {
      margin-top: 30px;
    }
  
    /* Espaciado */
    .radioGroupText {
      margin-top: 0;
    }
  
    /* Grid responsive */
    .gridControls {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(5, 1fr);
      gap: 0 50px;
    }
  
    .gridEmployee:nth-child(1) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
    }
  
    .gridEmployee:nth-child(2) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
    }
  
    .gridEmployee:nth-child(3) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 4;
    }
  
    .gridEmployee:nth-child(4) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 4;
      grid-row-end: 5;
    }
  
    .gridEmployee:nth-child(5) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
    }
  
    .gridEmployee:nth-child(6) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 5;
      grid-row-end: 6;
    }
  
    .gridEmployee:nth-child(7) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
    }
  
    .gridEmployee:nth-child(8) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
    }
  
    .gridEmployee:nth-child(9) {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 4;
      grid-row-end: 5;
    }
  
    /* Botones */
    .btnsOpctions {
      margin-top: 0;
    }
     
    .btnOptionReturn, .btnOptionSave {
      height: 33px;
      font-size: 15px;
    }
    /* ------------ View: Employee, Create and Update ------------ */
  }
  /* *************************** Para Tablets y PC *************************** */
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
